/* Ajoutez cette règle de style CSS */
.room-card-img {
  max-height: 300px; /* Modifiez cette valeur en fonction de vos besoins */
  object-fit: cover; /* Ajuste le comportement de l'image pour remplir la boîte tout en conservant les proportions */
}

.fa-icon{
    color: green; /* Couleur personnalisée */
    font-size: 1em; /* Taille de police personnalisée */
}